<header id="header">
    <div class="container">
        <a href="/admin" id="logo">流音之星 - 管理介面</a>
        <nav>
            <a href="/admin/new">發佈公告</a>
            <a href="/admin/edit">修改公告</a>
            <a href="javascript:swal('若有需求請聯絡製作者')">置換圖片</a>
        </nav>
    </div>
</header>
<div style="height: 60px;"></div>
