<!DOCTYPE HTML>
<html lang="zh">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta charset="UTF-8">
        <title>自己的網站自己管 - 流音之星網站管理系統</title>
        <link href="/assets/css/admin/panel.css" rel="stylesheet" />
    </head>
    <body>
        <div id="banner">
            <div class="container">
                <div style="font-size: 2em;margin-bottom: 2em;">歡迎進入流音之星網站管理系統</div>
                <a href="/admin/new" class="btn">發佈公告</a>
                <a href="/admin/edit" class="btn">修改公告</a>
                <a href="/admin/logout" class="btn special">登出系統</a>
            </div>
        </div>
    </body>
</html>
