<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <%- include('head'); %>
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <%- include('header'); %>

            <!-- Main -->
            <article id="main">
                <header>
                    <h2>關於我們</h2>
                </header>

                <section class="wrapper style5" id="contact">
                    <div class="inner">
                        <h2>負責人</h2>
                        <div class="row">
                            <div class="col-6">
                                <span class="image left">
                                    <img src="images/coordinator.jpg" alt="">
                                </span>
                                <p>宋佳臻</p>
                                <p>0932-293-004</p>
                            </div>
                            <div class="col-6">
                                <span class="image left">
                                    <img src="images/vice_coordinator.jpg" alt="">
                                </span>
                                <p>謝翔昀</p>
                                <p>0930-859-336</p>
                            </div>
                            <div class="col-6">
                                <span class="image left">
                                    <img src="images/design.jpg" alt="">
                                </span>
                                <p>楊岱祐</p>
                                <p>0911-820-526</p>
                            </div>
                            <div class="col-6">
                                <span class="image left">
                                    <img src="images/public_relations.jpg" alt="">
                                </span>
                                <p>陳均菱</p>
                                <p>0987-872-168</p>
                            </div>
                            <div class="col-6">
                                <span class="image left">
                                    <img src="images/promote.jpg" alt="">
                                </span>
                                <p>辛幼棻</p>
                                <p>0922-265-508</p>
                            </div>
                        </div>
                        <br>
                        <h2>各屆歷史</h2>
                        <span class="image fit">
                            <img src="images/history.jpg" alt="history">
                        </span>
                    </div>
                </section>
            </article>
            <!-- Footer -->
            <%- include('footer'); %>
        </div>

		<!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
	</body>
</html>