<footer id="footer">
    <ul class="icons">
        <li><a href="https://www.facebook.com/popmusicstar/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/pmstar_15th/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="copyright">
        <li><a href="https://instagram.com/ckpm_23rd?igshid=1r5wm0085deju" target="view_window">CKPM</a></li>
        <li><a href="https://instagram.com/tfgpm18_?igshid=k3mrifjh40hb" target="view_window">TFGPM</a></li>
        <li><a href="https://instagram.com/sspm_30th?igshid=vlskz50xcubi" target="view_window">SSPM</a></li>
        <li><a href="https://instagram.com/jmpm13_?igshid=17g6skitmjcml" target="view_window">JMPM</a></li>
        <li><a href="https://instagram.com/hjpm16_?igshid=c5li9x2fjd30" target="view_window">HJPM</a></li>
        <li>Design: <a href="https://infor.org" target="view_window">INFOR</a></li>
    </ul>
</footer>
