<footer id="footer">
    <ul class="icons">
        <li><a href="https://facebook.com/popmusicstar/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/pmstar14th/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="copyright">
        <li><a href="https://www.facebook.com/ckpm22nd/" target="view_window">CKPM</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=827516480772284" target="view_window">TFGPM</a></li>
        <li><a href="https://www.facebook.com/sspm29th/" target="view_window">SSPM</a></li>
        <li>JMPM</li>
        <li><a href="https://www.facebook.com/%E8%8F%AF%E6%B1%9F%E9%AB%98%E4%B8%AD%E6%B5%81%E8%A1%8C%E9%9F%B3%E6%A8%82%E7%A4%BE15th-200212767285281/" target="view_window">HJPM</a></li>
        <li>Design: <a href="https://infor.org" target="view_window">INFOR</a></li>
    </ul>
</footer>