<title>流音之星 - <%= title %></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
<link rel="stylesheet" href="assets/css/pmstar.css">
<link rel="icon" type="image/x-icon" href="images/logo.ico">
<link rel="shortcut icon" type="image/x-icon" href="images/logo.ico">