<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%- include('head'); %>
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <%- include('header'); %>

            <!-- Main -->
            <article id="main">
                <header>
                    <h2>常見問題</h2>
                </header>

                <section class="wrapper style5">
                    <div class="inner">
                        <section id="reg">
                            <h2>報名</h2>
                            <article>
                                <h3>Q:報名時間是何時呢?</h3>
                                <p>
                                    A:第15屆的報名時間是9/13~10/31唷。<br>
                                    <a href="https://line.me/R/ti/p/11FZvoRuwx">報名連結（加好友</a>
                                </p>
                            </article>
                            <article>
                                <h3>Q:報名時間過了之後就不能再報名了嗎</h3>
                                <p>A:是的!</p>
                            </article>
                            <article>
                                <h3>Q:需要報名費嗎?</h3>
                                <p>A:是的，個唱組每人200元，創作組及重唱組街是每人250元。此外，只要於初賽私訊粉絲專頁出示低收入戶證明即可減免報名費喔！更多詳情請參考比賽簡章。                                    。此外，只要於初賽在粉絲專頁私訊給我們出示低收入戶證明，便可獲得報名費全額的減免唷!更多詳情請參閱<a href="/rule">比賽簡章</a>。</p>
                            </article>
                        </section>

                        <section id="rule">
                            <h2>比賽規則</h2>
                            <article>
                                <h3>Q:比賽有哪些組別呢?</h3>
                                <p>A:比賽分為個唱組、重唱組及創作組。</p>
                            </article>
                            <article>
                                <h3>Q:團體的組別(對唱組、創作組)有人數限制嗎?</h3>
                                <p>A:有喔！重唱組人數限制2-5人，創作組可以1-6人。但需要特別注意創作組的主唱有位大人數限制4人喔！</p>
                            </article>
                            <article>
                                <h3>Q:賽程如何進行呢?</h3>
                                <p>A:個唱、重唱的出賽如同報名時間（9/13-10/31），而複賽則是在11/30，創作組無初賽將直接進入複賽於12/1，決賽皆於1/5舉辦喔！                                </p>
                            </article>
                            <article>
                                <h3>Q:決賽最後得名的參賽者有獎金嗎?</h3>
                                <p>A:沒有喔！決賽得名除了有獎金之外還有獎盃喔！更多詳情請見下表。</p>
                                <table class="table table-striped table-inverse">
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>個唱組</td>
                                        <td>第一名</td>
                                        <td>獎盃乙座 獎金10000元</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>第二名</td>
                                        <td>獎盃乙座 獎金6000元</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>第三名</td>
                                        <td>獎盃乙座 獎金3000元</td>
                                    </tr>
                                        <tr>
                                        <th scope="row">2</th>
                                        <td>重唱組</td>
                                        <td>第一名</td>
                                        <td>獎盃乙座 獎金10000元</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>第二名</td>
                                        <td>獎盃乙座 獎金7000元</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>第三名</td>
                                        <td>獎盃乙座 獎金4000元</td>
                                    </tr>
                                        <tr>
                                        <th scope="row">3</th>
                                        <td>創作組</td>
                                        <td>第一名</td>
                                        <td>獎盃乙座 獎金10000元</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>第二名</td>
                                        <td>獎盃乙座 獎金7000元</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td>第三名</td>
                                        <td>獎盃乙座 獎金4000元</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </article>
                            <article>
                                <h2>Q:比賽可以使用樂器嗎?</h2>
                                <p>A:除創作組可於複賽、決賽使用樂器，個唱、重唱組皆不能使用樂器進行伴奏（如自彈自唱）</p>
                            </article>
                            <article>
                                <h3>Q:我可以一次參加多個組別的賽事嗎?</h3>
                                <p>A:可以，但不得使用同一首曲目參加不同組別。</p>
                            </article>
                            <article>
                                <h3>Q:我可以在不同的樂團重複報名同一組別的賽事嗎?</h3>
                                <p>A:不行唷! 每人（組）限報名各組別一次（禁止跨團參賽），若重複報名，僅採用最後一次報名之資料。</p>
                            </article>
                        </section>
                        <p>更多問題請到<a href="https://www.facebook.com/popmusicstar/">粉專</a>私訊!</p>
                    </div>
                </section>
            </article>

            <!-- Footer -->
            <%- include('footer'); %>
        </div>

		<!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
	</body>
</html>
