<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <%- include('head'); %>
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <%- include('header'); %>

            <!-- Main -->
            <article id="main">
                <header>
                    <h2>比賽規則</h2>
                </header>

                <section class="wrapper style5">
                    <div class="inner">
		    	<a href="https://line.me/R/ti/p/11FZvoRuwx" class="button primary">報名連結（加LINE好友）</a><br>
		  	
		    	
                        ① 比賽對象： <br>
                        全國高中職、五專在學學生 <br>
			
                        ② 比賽組別： <br>
                        個唱組、重唱組、創作組 <br>

                        ③ 報名期限： <br>
                        請於9/13~10/31至流音之星官方網站或FB、IG粉專,上面有報名連結,點選進入後將連接到Line好友,請點選加入即可開始報名(重唱組與創作組每位參賽者皆需報名,報名完成後向粉絲專頁提交完整報名表單) <br>

                        ④ 報名費用： <br>
                        <ul style='list-style-type:upper-roman;'>
                            <li>個唱組:200元/1人</li>
                            <li>重唱組:250元/1人</li>
                            <li>創作組:250元/1人</li>
                        </ul><br>
                         (報名完成後將得到一組虛擬繳費代碼,報名費請於三天內繳交) <br>

                        ⑤ 獎勵方式： <br>
                        <table class="table table-striped table-inverse">
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                    <td>個唱組</td>
                                    <td>第一名</td>
                                    <td>獎盃乙座 獎金10000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第二名</td>
                                    <td>獎盃乙座 獎金6000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第三名</td>
                                    <td>獎盃乙座 獎金3000元</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                    <td>重唱組</td>
                                    <td>第一名</td>
                                    <td>獎盃乙座 獎金10000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第二名</td>
                                    <td>獎盃乙座 獎金7000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第三名</td>
                                    <td>獎盃乙座 獎金4000元</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                    <td>創作組</td>
                                    <td>第一名</td>
                                    <td>獎盃乙座 獎金10000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第二名</td>
                                    <td>獎盃乙座 獎金7000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第三名</td>
                                    <td>獎盃乙座 獎金4000元</td>
                                </tr>
                            </tbody>
                        </table><br>
                        (註:創作組冠軍將獲得創作下屆《流音之星》主題曲的機會,創作組進決賽者享有免費與音樂霸合作製作專輯的機會) <br>

                        ⑥ 比賽相關規則： <br>
                        <ul style='list-style-type:upper-roman;'>
                            <li>凡擁有低收入戶身分之參賽者,可於報名時備註,並主動私訊粉專出示低收入戶證明正本及身分證正本或影本,主辦單位將減免全額報名費</li>
                            <li>進複賽、決賽之參賽者請於排定之報到時間前至比賽場地報到,並請攜帶學生證或任何可證明身分之文件</li>
                            <li>報到後請根據工作人員指示於指定位置預備,唱名三次而未上台者,視同放棄參賽資格,且不予退費</li>
                            <li>個唱、重唱組決賽入圍者,請於12/22(日)前將曲目及伴唱帶寄到主辦單位之電子信箱:<a href="mailto:popmusicstar15@gmail.com​">popmusicstar15@gmail.com​</a> ,以方便幕後工作進行。
                                <br>註:不能自行伴奏(如自彈自唱)
                            </li>
                            <li>初賽：<br>
                                 A. 比賽方式: <br>
                                 <table class="table table-striped table-inverse">
                                     <thead>
                                         <th>組別</th>
                                         <th>規則</th>
                                         <th>評分方式</th>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <td>個人組</td>
                                             <td>
                                                 <ul>
                                                     <li>以錄影Demo帶的方式進行,參賽者須錄影清唱一分鐘自選曲,並上傳至youtube,將連結網址填入報名表單</li>
                                                     <li>為確保公平性,參賽Demo影片必須露臉,不得遮擋到臉部(如:戴口罩),若不符合規則者將取消參賽資格</li>
                                                 </ul>
                                             </td>
                                             <td>
                                                 <ul>
                                                     <li>音準及節奏30%</li>
                                                     <li>技巧30%</li>
                                                     <li>情緒詮釋40%</li>
                                                     <li>取實際參賽人數1/10晉級複賽,評審保留決定權</li>
                                                 </ul>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td>重唱組</td>
                                             <td>
                                                 <ul>
                                                     <li>以錄影Demo帶的方式進行,參賽者須錄影清唱一分鐘自選曲,並上傳至youtube將連結網址填入報名表單</li>
                                                     <li>為確保公平性,參賽Demo影片必須露臉,不得遮擋到臉部(如:戴口罩),若不符合規則者將取消參賽資格</li>
                                                     <li>每組人數限制2~5人</li>
                                                     <li>不開放無伴奏表演及樂團</li>
                                                 </ul>
                                             </td>
                                             <td>
                                                 <ul>
                                                    <li>音準及節奏30%</li>
                                                    <li>技巧30%</li>
                                                    <li>情緒詮釋40%</li>
                                                    <li>取實際參賽人數1/4晉級複賽,評審保留決定權</li>
                                                 </ul>
                                             </td>
                                         </tr>
                                     </tbody>
                                 </table> <br>
                                 B. 比賽時間: 個唱組、重唱組:9/13~10/31(同報名時間)(Demo影片)<br>創作組:無初賽 <br>
                                 C. 比賽場地: 個唱組、重唱組(Demo影片):錄影上傳至youtube

                            </li>
                            <li>
                                複賽：<br>
                                A. 比賽場地: 貝洛音樂工作室 (台北市中正區羅斯福路一段94號B1) <br>
                                B. 比賽方式: <br>
                                <table class="table table-striped table-inverse">
                                    <thead>
                                        <th>組別</th>
                                        <th>規則</th>
                                        <th>評分方式</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>個唱組</td>
                                            <td>
                                                <ul>
                                                    <li>主辦單位將會發布5首指定曲提供參賽者擇一演唱,並由主辦單位提供伴奏</li>
                                                    <li>若有升降key或其他需求,須於粉絲專頁填寫Google表單時註明,否則比賽現場伴奏皆只提供原唱曲目之伴奏</li>
                                                    <li>演唱一主歌一副歌</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>音準及節奏30%</li>
                                                    <li>音色20%</li>
                                                    <li>技巧30%</li>
                                                    <li>情緒詮釋10%</li>
                                                    <li>台風10%</li>
                                                    <li>取6組晉級決賽,視實際參賽人數而定,評審保留決定權</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>對唱組</td>
                                            <td>
                                                <ul>
                                                    <li>主辦單位將會發布5首指定曲提供參賽者擇一演唱一主一副,並由主辦單位提供伴奏</li>
                                                    <li>若有升降key或其他需求,須於粉絲專頁填寫表單時註明,否則比賽現場伴奏皆只提供原唱曲目之伴奏</li>
                                                    <li>演唱一主歌一副歌</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                   <li>音準及節奏30%</li>
                                                   <li>技巧30%</li>
                                                   <li>情緒詮釋20%</li>
                                                   <li>默契20%</li>
                                                   <li>取6組晉級決賽,視實際參賽人數而定,評審保留決定權</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>創作組</td>
                                            <td>
                                                <ul>
                                                    <li>僅有現場比賽</li>
                                                    <li>僅分為複賽、決賽</li>
                                                    <li>表演一首自創曲的一主一副,曲風不限。參賽歌曲須為原創,並附上歌詞,且原創者須至少一人參賽</li>
                                                    <li>主辦單位將提供Bass音箱、Keyboard、吉他音箱、爵士鼓組,若無特殊需求,於現場統一公用</li>
                                                    <li>若於創作有特殊需求,可自行準備相關設備(如:效果器等等)</li>
                                                    <li>每組上限6人</li>
                                                    <li>主唱上限4人</li>
                                                    <li>表演時間為2分鐘,時間到時評審會按鈴,按鈴後十秒內停止演唱者不扣分,若未停止演唱,以十秒為一單位(不足十秒以十秒計),每單位扣總成績兩分</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>詞曲50%</li>
                                                    <li>編曲30%</li>
                                                    <li>整體呈現20%</li>
                                                    <li>取6組進入決賽,依實際參賽比例分配,評審保留決定權</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> <br>
                                C. 比賽時間: <br>
                                &nbsp;&nbsp;&nbsp;個唱組:11/30(六)9:00報到,9:30開始 <br>
                                &nbsp;&nbsp;&nbsp;重唱組:11/30(六)14:00報到,14:30開始 <br>
                                &nbsp;&nbsp;&nbsp;創作組:12/01(日)9:00報到,9:30開始
                            </li>

                            <li>
                                決賽: <br>
                                A. 比賽場地: <br>
                                B. 彩排時間:1/5(日)10:30報到,11:00開始 <br>
                                C. 比賽時間:1/5(日)13:30就位,14:00開始 <br>
                                D. 比賽方式: <br>
                                <table class="table table-striped table-inverse">
                                    <thead>
                                        <th>組別</th>
                                        <th>規則</th>
                                        <th>評分方式</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>個唱組</td>
                                            <td>
                                                <ul>
                                                    <li>請準備一首自選曲,但自選曲不得與初賽、複賽時相同,並由參賽者自行提供伴奏</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>音準及節奏30%</li>
                                                    <li>音色20%</li>
                                                    <li>技巧30%</li>
                                                    <li>詮釋10%</li>
                                                    <li>台風10%</li>
                                                    <li>評審分數平均決定前三名進行頒獎</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>對唱組</td>
                                            <td>
                                                <ul>
                                                    <li>請準備一首自選曲,但自選曲不得與初賽、複賽時相同,並由參賽者自行提供伴奏</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                   <li>音準及節奏30%</li>
                                                   <li>技巧30%</li>
                                                   <li>情緒詮釋20%</li>
                                                   <li>默契20%</li>
                                                   <li>評審分數平均決定前三名進行頒獎</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>創作組</td>
                                            <td>
                                                <ul>
                                                    <li>表演曲目需與複賽相同</li>
                                                    <li>含準備時間限時八分鐘,時間到時評審會按鈴,按鈴後十秒內停止演唱者不扣分,若未停止演唱,以十秒為一單位(不足十秒以十秒計),每單位扣總成績兩分</li>
                                                    <li>主辦單位將提供Bass音箱、Keyboard、吉他音箱、爵士鼓組,若無特殊需求,於現場統一公用</li>
                                                    <li>若於創作有特殊需求,可自行準備相關設備(如:效果器等等)</li>
                                                    <li>每組上限6人</li>
                                                    <li>主唱上限4人</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>詞曲50%</li>
                                                    <li>編曲30%</li>
                                                    <li>整體呈現20%</li>
                                                    <li>評審分數平均決定前三名進行頒獎</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> <br>

                            </li>
                        </ul> <br>
                        
                        ⑦ 其餘注意事項： <br>
                        ⑴ 評審有權刪減各階段比賽晉級人數 <br>
                        ⑵ 此活動對象為全國高中職或五專學生，不符規定者將自動刪除比賽相關資料，比賽分數不予採計。 <br>
                        ⑶ 本歌唱大賽之評分人員皆為專職音樂人士，並採用高規格之設備， 具有高公信力及公正性。若評分上有所疑問則以評審意見為主。 <br>
                        ⑷ 本活動係屬正式比賽，請穿著方便整齊之服裝入場，穿著過於暴露、不雅或做出任何政治立場表達、怪異粗俗標語之服飾者，主辦單位有權拒絕之入場，當次比賽成績不予採計。 <br>
                        ⑸ 參賽者演唱期間禁止出入比賽場合、大聲喧嘩或做出任何干擾比賽進行之動作。若違反規定者，主辦單位有權請參賽者或觀眾離開比賽場地，當次比賽成績不予採計。 <br>
                        ⑹ 請密切注意比賽公告，相關訊息以官網最新公告資料為主。比賽三日前將公告所有相關事項，若因參賽者未詳細閱讀報名須知或官網公告而造成權益受損者，主辦單位不予負責。 <br>
                        ⑺ 若比賽期間出現冒用他人身分、偽造證件或違反中華民國明文規定之憲法或相關法規者，通報警方處理，當次比賽成績不予採計。 <br>
                        ⑻ 若遭遇颱風、地震、豪大雨或嚴重天災而必須延期，將另行公告於官網及另行通知參賽者。 <br>
                        ⑼ 評選得以晉級複賽或決賽者，將於比賽後三日內公告於官方網站，並公告相關訊息。 <br>
                        ⑽ 因比賽期間發生重要缺失造成參賽者權益受損，主辦單位將全權負責並退還報名費。審查時以中華民國明文規定之憲法、民法、刑法、行政法及相關規定為主。 <br>
                        ⑾ 參賽者請自行複製活動相關規範及公告內容，以便日後查證之用。 <br>
                        ⑿ 主辦單位保有比賽規則及活動相關規定之釋意權。 <br>
                        ⒀ 若非主辦單位之疏失，伴唱帶一律不予重複播放。 <br>
                        ⒁ 因音響器材所造成之音效問題不影響比賽成績。 <br>
                        ⒂ 禁止破壞現場器材，違者照價賠償。 <br>
                        ⒃ 禁止使用同一首歌報名多組。 <br>
                        ⒄ 每人（組）限報名各組別一次（禁止跨團參賽），若重複報名， 僅採用最後一次報名之資料。 <br>
                    </div>
                </section>
            </article>

            <!-- Footer -->
            <%- include('footer'); %>
        </div>

		<!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
	</body>
</html>
