<!DOCTYPE HTML>
<!--
    Arcana by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

    <head>
        <title>比賽簡章</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    </head>

    <body>
        <div id="page-wrapper">

            <!-- Header -->
            <div id="header">

                <!-- Logo -->
                <h1><a href="/" id="logo">流音之星</a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="/">首頁</a></li>
                        <li><a href="/news">最新資訊</a></li>
                        <li>
                            <a href="/about">關於我們</a>
                            <ul>
                                <li><a href="/about#1">負責人的電話</a></li>
                                <li><a href="/about#3">流音之星的歷史</a></li>
                            </ul>
                        </li>
                        <li class="current"><a href="/rule">比賽簡章</a></li>
                        <li><a href="/qna">常見問題</a></li>
                        <li><a href="/sponsor">贊助</a></li>
                    </ul>
                </nav>

            </div>


            <!-- Main -->
            <section class="wrapper style2" id="1">
					<div class="container">
						<header class="major">
							<h2>比賽規則</h2>
						</header>
					</div>
				</section>

				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

            <article>
              <header>
                <h2>比賽簡章</h2>
              </header>
              <p>
                ①比賽對象： <br>
                  全國高中職、五專在學學生 <br>
                ②比賽組別： <br>
                  個人組、對唱組、創作組 <br>
                ③報名期限： <br>
                  於9/1~10/31 至流音之星官方網站報名，另開放現場報名數名 <br>
                  (對唱組與創作組每位參賽者皆需報名，報名完成後向粉專提交完整報名名單) <br>
                ④報名費用： <br>
                  個人組 250元/人 <br>
                  對唱組 200元/人 <br>
                  創作組 200元/人 (報名費於報名截止後一定期間內，匯款至流音之星公用戶頭) <br>
                  註：若為現場報名，報名費用將增收50元。 <br>
                ⑤獎勵方式： <br>
                  (詳見第⑥中的第⑺項第2.點) <br>
                ⑥比賽相關規則： <br>
                ⑴ 凡擁有低收入戶身分之參賽者，可於報名時標註，並主動私訊粉
                   專出示低收入戶證明正本及身分證正本或影本，主辦單位將減免
                   全額報名費。 <br>
                ⑵ 請參賽者於排定之報到時間前至比賽場地報到，並請攜帶學生證
                   或任何可證明身分之文件。 <br>
                ⑶ 報到後請根據工作人員指示於指定位置預備，唱名逾三次而未上
                   台者，視同放棄參賽資格，且不予退費。 <br>
                ⑷ 個人、對唱組決賽入圍者，請於12/31(日)前將曲目及伴唱帶寄到
                   主辦單位之電子信箱：pmstar13@gmail.com，以方便幕後工作
                   進行。如欲自行伴奏者也請於期限前告知主辦單位曲目及所使用
                   之樂器。 <br>
                   註：僅報名參賽者可上台演出，不可另外尋求伴奏者。 <br>
                ⑸ 關於初賽： <br>
                1. 主辦單位將在報名截止後安排序號及報到時間，屆時將於臉書粉
                  絲專頁公告給各位參賽者。 <br>
                2. 比賽方式： <br>
                <table class="table table-striped table-inverse">
                  <tbody>
                    <tr>
                      <td>個人組</td>
                      <td>
                        一分半鐘內清唱一首自選曲 <br>
                        註1：評分方式：音準及節奏 30% 、音色 20% 、技巧 30% 、
                              詮釋 10% 、台風 10% <br>
                        註2：取實際參賽人數1/10晉級複賽
                      </td>
                    </tr>
                    <tr>
                      <td>對唱組</td>
                      <td>
                        一分半鐘內清唱一首自選曲 <br>
                        註1：評分標準：音準及節奏 20% 、音色 20% 、技巧 20% 、
                             詮釋 10% 、台 風及默契 30% <br>
                        註2：對唱組每組人數限制為2~4人(不開放阿卡貝拉及樂團報名) <br>
                        註3：取實際參賽組數1/4晉級複賽
                      </td>
                    </tr>
                    <tr>
                      <td>創作組</td>
                      <td>
                        表演一首自創曲的一主一副，曲風不限。參賽歌曲需為原創歌去並附上歌詞，且原創者須至少一人參賽。 <br>
                        主辦單位將提供Bass音箱.Keyboard.吉他音箱和爵士 鼓組，若無特殊需求，於現場統一公用 <br>
                        註1：評分標準：詞曲50%、編曲30%、整體呈現20% <br>
                        註2：創作組每組上限6人，主唱上限4人 <br>
                        註3：北中南共取6~8組，依實際參賽比例分配
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-striped table-inverse">
                  <tbody>
                    <tr>
                      <td>
                        時間到時評審將會按鈴，按鈴後十秒內停止演唱者不扣分。 <br>
                        若未停止演唱，以十秒為一單位(不足十秒以十秒計)每單位扣總成績兩分。
                      </td>
                    </tr>
                  </tbody>
                </table>
                3. 比賽日期： <br>
                <table class="table table-striped table-inverse">
                  <tbody>
                    <tr>
                      <td>個人組</td>
                      <td>北區：</td>
                      <td>11/04(六)</td>
                      <td>
                        早場09:30~12:30 <br>
                        午場14:00~17:00 <br>
                        晚場 18:30~21:30
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>11/05(日)</td>
                      <td>
                        早場09:30~12:30 <br>
                        午場14:00~17:00 <br>
                        晚場 18:30~21:30 <br>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>11/11(六)</td>
                      <td>
                        早場09:30~12:30 <br>
                        午場14:00~17:00 <br>
                        晚場 18:30~21:30 <br>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>11/12(日)</td>
                      <td>
                        早場09:30~12:30(視報名狀況決定舉辦與否)
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>中區：</td>
                      <td>11/05(日)</td>
                      <td>
                        早場09:30~12:30(視報名狀況決定舉辦與否) <br>
                        午場14:00~17:00
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>南區： </td>
                      <td>11/11(六)</td>
                      <td>
                        早場09:30~12:30(視報名狀況決定舉辦與否) <br>
                        午場14:30~17:00
                      </td>
                    </tr>
                    <tr>
                      <td>對唱組</td>
                      <td>北區：</td>
                      <td>11/12(日)</td>
                      <td>
                        午場14:00~17:00 <br>
                        晚場18:30~21:30
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>中區：</td>
                      <td>11/05(日)</td>
                      <td>
                        晚場18:30~21~30
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>南區：</td>
                      <td>11/11(六)</td>
                      <td>
                        晚場18:30~21:30
                      </td>
                    </tr>
                    <tr>
                      <td>創作組</td>
                      <td></td>
                      <td>12/10(日)</td>
                      <td>
                        早場09:30~12:30
                      </td>
                    </tr>
                  </tbody>
                </table>
                4. 比賽場地： <br>
                            北區：台北市立華江高級中學 <br>
                            中區：台中市立第一高級中學 <br>
                            南區：Mr.Voice 高雄市民族二路82號 <br>
                ⑹ 關於複賽： <br>
                1. 個唱及對唱皆會再發布十首指定曲提供參賽者擇一演唱，並由主
                   辦方為提供伴奏。若有升降KEY或其他之需求，須於粉專填寫表
                   單時註明，否則比賽現場伴奏接只提供原唱曲目之伴奏。 <br>
                   註：對唱組只需一位代表填寫表單即可。 <br>
                2. 比賽日期： <br>
                <table class="table table-striped table-inverse">
                  <tbody>
                    <tr>
                      <td>個人組</td>
                      <td>
                        12/09(六) <br>
                        午場14:00~17:00 <br>
                        晚場18:30~21:30 <br>
                        註：取8~12人晉級決賽(視實際參賽人數而定)
                      </td>
                    </tr>
                    <tr>
                      <td>對唱組</td>
                      <td>
                        12/09(六)  <br>
                        早場09:30~12:30 <br>
                        註：取6~10組晉級決賽(視實際參賽人數而定)
                      </td>
                    </tr>
                  </tbody>
                </table>
                3. 比賽場地：台北市華江高級中學—國際會議廳 <br>
                ⑺ 關於決賽： <br>
                1. 個人組、對唱組晉級者以自選曲進行決賽，不得與初複賽演唱相
                   同歌曲，並由參賽者自行提供伴奏，由評審老師評分，並以五位
                   評審分數平均決定前三名進行頒獎。 <br>
                  對唱組晉級者演唱歌曲需與初賽相同，含準備時間限時八分鐘，由
                  主辦單位準備部分樂器供參賽者伴奏，由評審老師評分，並以五位
                  評審分數平均決定前三名進行頒獎。 <br>
                2. 決賽時將會進行頒獎典禮，頒發獎項及方式如下表： <br>
                <table class="table table-striped table-inverse">
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>個人組</td>
                      <td>第一名</td>
                      <td>獎盃乙座 獎金10000元</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td>第二名</td>
                      <td>獎盃乙座 獎金7000元</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td>第三名</td>
                      <td>獎盃乙座 獎金5000元</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>對唱組</td>
                      <td>第一名</td>
                      <td>獎盃乙座 獎金12000元</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td>第二名</td>
                      <td>獎盃乙座 獎金9000元</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td>第三名</td>
                      <td>獎盃乙座 獎金6000元</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>創作組</td>
                      <td>第一名</td>
                      <td>獎盃乙座 獎金12000元</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td>第二名</td>
                      <td>獎盃乙座 獎金9000元</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td>第三名</td>
                      <td>獎盃乙座 獎金6000元</td>
                    </tr>
                  </tbody>
                </table>
                註1：創作組冠軍將獲得創作下屆《流音之星》主題曲的機會 <br>
                3. 比賽日期：2018/1/7(日) 13:00~17:00 <br>
                4. 比賽場地：臺北市立大學--中正堂 <br>
                比賽序號及相關賽程請詳閱粉專說明。 <br>
                ⑦ 其餘注意事項： <br>
                ⑴ 評審有權刪減各階段比賽晉級人數 <br>
                ⑵ 此活動對象為全國高中職或五專學生，不符規定者將自動刪除比
                   賽相關資料，比賽分數不予採計。 <br>
                ⑶ 本歌唱大賽之評分人員皆為專職音樂人士，並採用高規格之設
                   備， 具有高公信力及公正性。若評分上有所疑問則以評審意見為
                   主。 <br>
                ⑷ 本活動係屬正式比賽，請穿著方便整齊之服裝入場，穿著過於暴
                   露、不雅或做出任何政治立場表達、怪異粗俗標語之服飾者，主
                   辦單位有權拒絕之入場，當次比賽成績不予採計。 <br>
                ⑸ 參賽者演唱期間禁止出入比賽場合、大聲喧嘩或做出任何干擾比
                   賽進行之動作。若違反規定者，主辦單位有權請參賽者或觀眾離
                   開比賽場地，當次比賽成績不予採計。 <br>
                ⑹ 請密切注意比賽公告，相關訊息以官網最新公告資料為主。比賽
                   三日前將公告所有相關事項，若因參賽者未詳細閱讀報名須知或
                   官網公告而造成權益受損者，主辦單位不予負責。 <br>
                ⑺ 若比賽期間出現冒用他人身分、偽造證件或違反中華民國明文規
                   定之憲法或相關法規者，通報警方處理，當次比賽成績不予採計。 <br>
                ⑻ 若遭遇颱風、地震、豪大雨或嚴重天災而必須延期，將另行公告
                   於官網及另行通知參賽者。 <br>
                ⑼ 評選得以晉級複賽或決賽者，將於比賽後三日內公告於官方網
                   站，並公告相關訊息。 <br>
                ⑽ 因比賽期間發生重要缺失造成參賽者權益受損，主辦單位將全權
                   負責並退還報名費。審查時以中華民國明文規定之憲法、民
                   法、刑法、行政法及相關規定為主。 <br>
                ⑾ 參賽者請自行複製活動相關規範及公告內容，以便日後查證之用。 <br>
                ⑿ 主辦單位保有比賽規則及活動相關規定之釋意權。 <br>
                ⒀ 若非主辦單位之疏失，伴唱帶一律不予重複播放。 <br>
                ⒁ 因音響器材所造成之音效問題不影響比賽成績。 <br>
                ⒂ 禁止破壞現場器材，違者照價賠償。 <br>
                ⒃ 禁止使用同一首歌報名多組。 <br>
                ⒄ 每人（組）限報名各組別一次（禁止跨團參賽），若重複報名， 僅
                   採用最後一次報名之資料。 <br>
              </p>
            </article>

						</div>
					</div>
				</section>

            <!-- Footer -->
            <div id="footer">
                <!-- Icons -->
                <ul class="icons">
                    <li><a href="https://www.facebook.com/popmusicstar/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                </ul>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li><a href="https://www.facebook.com/%E5%BB%BA%E5%9C%8B%E4%B8%AD%E5%AD%B8%E6%B5%81%E8%A1%8C%E9%9F%B3%E6%A8%82%E7%A4%BE21st-1198700360256495/" target="view_window">CKPM</a></li>
                        <li><a href="https://www.facebook.com/tfgpm16/" target="view_window">TFGPM</a></li>
                        <li><a href="https://www.facebook.com/legendary.sspm27th/" target="view_window">SSPM</a></li>
                        <li><a href="https://www.facebook.com/JMPM11th/" target="view_window">JMPM</a></li>
                        <li><a href="https://www.facebook.com/hjpm14th/" target="view_window">HJPM</a></li>
                        <li>Design: <a href="http://infor.org" target="view_window">INFOR</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <!-- Scripts -->
        <script src="assets/javascripts/jquery.min.js"></script>
        <script src="assets/javascripts/jquery.dropotron.min.js"></script>
        <script src="assets/javascripts/skel.min.js"></script>
        <script src="assets/javascripts/util.js"></script>
        <!--[if lte IE 8]><script src="assets/javascripts/ie/respond.min.js"></script><![endif]-->
        <script src="assets/javascripts/main.js"></script>

    </body>
</html>
