<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
        <%- include('head'); %>
	</head>
	<body class="is-preload">
		<!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <%- include('header'); %>

            <!-- Main -->
            <article id="main">
                <header>
                    <h2>比賽規則</h2>
                </header>

                <section class="wrapper style5">
                    <div class="inner">
                        ①比賽對象： <br>
                        全國高中職、五專在學學生 <br>

                        ②比賽組別： <br>
                        個人組：以獨唱方式展現歌曲特色及情感。Demo海選初賽透過清唱表現聲音特色，而在複賽及決賽舞台將加入伴奏，結合伴奏呈現具個人特色的完整演出。<br>
                        對唱組：透過和聲展現歌曲，亦可透過加入新的和聲或重新編曲，賦予歌曲不同層次。<br>
                        創作組：開放參賽者以自身編創的詞曲來傳達獨特而意義非凡的感受與心情，主打原創的音樂風格及技巧，同時也能呈現別樣的舞臺魅力。<br>

                        ③報名期限： <br>
                        於9/15~10/31 至<a href="http://jerry.minews.synology.me/pmstar14/">報名平台</a>報名 <br>
                        (對唱組與創作組每位參賽者皆需報名) <br>

                        ④報名費用： <br>
                        個人組 250元/人 <br>
                        對唱組 200元/人 <br>
                        創作組 200元/人 <br>

                        ⑤獎勵方式： <br>
                        (詳見第⑥中的第⑺項第2.點) <br>

                        ⑥比賽相關規則： <br>
                        ⑴ 凡擁有低收入戶身分之參賽者，於報到時出示低收入戶證明正本及身分證正本或影本，主辦單位將減免全額報名費。 <br>
                        ⑵ 請參賽者於排定之報到時間前至比賽場地報到，並請攜帶學生證或任何可證明身分之文件。 <br>
                        ⑶ 報到後請根據工作人員指示於指定位置預備，唱名逾三次而未上台者，視同放棄參賽資格，且不予退費。 <br>
                        ⑷ 個人、對唱組決賽入圍者，請於12/31(日)前將曲目及伴唱帶寄到主辦單位之電子信箱：<a href="mailto:pmstar14th@gmail.com">pmstar14th@gmail.com</a>，以方便幕後工作進行。如欲自行伴奏者也請於期限前告知主辦單位曲目及所使用之樂器。 <br>
                        註：僅報名參賽者可上台演出，不可另外尋求伴奏者。 <br>
                        ⑸ 關於初賽： <br>
                        1. 本屆個人組及創作組初賽以錄影Demo帶的方式進行。參賽者須以錄影形式清唱一分鐘歌曲，並上傳到 Youtube <br>
                        ※詳細上傳作品規則，請參考<a href="http://jerry.minews.synology.me/pmstar14/">報名平台</a> <br>
                        ※為確保公平性，參賽Demo影片必須露臉，不得遮擋到臉部（例如：戴口罩），若不符合規則將取消參賽資格 <br>
                        2. 各組評分方式： <br>
                        <table class="table table-striped table-inverse">
                            <tbody>
                                <tr>
                                    <td>個人組</td>
                                    <td>
                                        1：評分標準：音準及節奏 30%、技巧 30%、情緒詮釋40% <br>
                                        2：取實際參賽人數1/10晉級複賽                                  
                                    </td>
                                </tr>
                                <tr>
                                    <td>對唱組</td>
                                    <td>
                                        1：評分標準：音準及節奏 30%、技巧 30%、情緒詮釋20%、默契20% <br>
                                        2：對唱組每組人數限制為2~4人 <br>
                                        3：取實際參賽組數1/4晉級複賽，評審保留決定權 <br>
                                        4: 不開放阿卡貝拉及樂團
                                    </td>
                                </tr>
                                <tr>
                                    <td>創作組</td>
                                    <td>
                                        1：評分標準：詞曲50%、編曲30%、整體呈現20% <br>
                                        2：表演一首自創曲的一主一副，曲風不限。參賽歌曲需為原創歌曲並附上歌詞，且原創者須至少一人參賽。 <br>
                                        3：主辦單位將提供Bass音箱.Keyboard.吉他音箱和爵士 鼓組，若無特殊需求，於現場統一公用 <br>
                                        4：若於創作有特殊需要，可自行準備相關設備(如效果器等設備) <br>
                                        5：創作組每組上限6人，主唱上限4人 <br>
                                        6：時間到時評審將會按鈴，按鈴後十秒內停止演唱者不扣分。 <br>
                                        若未停止演唱，以十秒為一單位(不足十秒以十秒計)每單位扣總成績兩分。 <br>
                                        7：取6組進入決賽，依實際參賽比例分配，評審保留決定權 <br>
                                        8：請參賽者注意，創作組僅分為初賽及決賽兩個階段                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        3. 比賽日期： <br>
                        <table class="table table-striped table-inverse">
                            <tbody>
                                <tr>
                                    <td>1.個唱組及對唱組</td>
                                    <td>9/15～10/31，與報名時間同步進行</td>
                                </tr>
                                <tr>
                                    <td>2.創作組</td>
                                    <td>
                                        12/16<br>
                                        12：30報到<br>
                                        13：00開始
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        4. 比賽場地： <br>
                        個唱及對唱：採錄影上傳至UTS與流音之星報名平台 <br>
                        創作組：貝洛音樂工作室　(台北市中正區羅斯福路一段94號B1) <br>

                        ⑹ 關於複賽： <br>
                        1. 個唱及對唱皆會再發布十首指定曲提供參賽者擇一演唱，並由主辦方為提供伴奏。若有升降KEY或其他之需求，須於粉專填寫表單時註明，否則比賽現場伴奏接只提供原唱曲目之伴奏。 <br>
                        註：對唱組只需一位代表填寫表單即可。 <br>
                        2. 比賽日期： <br>
                        <table class="table table-striped table-inverse">
                            <tbody>
                                <tr>
                                    <td>個唱組</td>
                                    <td>
                                        12/15<br>
                                        8：30報到<br>
                                        9：00開始<br>
                                        註：取6組晉級決賽(視實際參賽人數而定)                                  
                                    </td>
                                </tr>
                                <tr>
                                    <td>對唱組</td>
                                    <td>
                                        12/15<br>
                                        16：30報到<br>
                                        17：00開始<br>
                                        註：取6組晉級決賽(視實際參賽人數而定)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        3. 比賽場地：<br>
                        貝洛音樂工作室　(台北市中正區羅斯福路一段94號B1) <br>

                        ⑺ 關於決賽： <br>
                        1. 個人組、對唱組晉級者以自選曲進行決賽，不得與初複賽演唱相同歌曲，並由參賽者自行提供伴奏，由評審老師評分，並以五位評審分數平均決定前三名進行頒獎。 <br>
                        創作組晉級者演唱歌曲需與初賽相同，含準備時間限時八分鐘，由主辦單位準備部分樂器供參賽者伴奏，由評審老師評分，並以五位評審分數平均決定前三名進行頒獎。 <br>
                        2. 決賽時將會進行頒獎典禮，頒發獎項及方式如下表： <br>
                        <table class="table table-striped table-inverse">
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                    <td>個人組</td>
                                    <td>第一名</td>
                                    <td>獎盃乙座 獎金10000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第二名</td>
                                    <td>獎盃乙座 獎金7000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第三名</td>
                                    <td>獎盃乙座 獎金5000元</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                    <td>對唱組</td>
                                    <td>第一名</td>
                                    <td>獎盃乙座 獎金12000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第二名</td>
                                    <td>獎盃乙座 獎金9000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第三名</td>
                                    <td>獎盃乙座 獎金6000元</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                    <td>創作組</td>
                                    <td>第一名</td>
                                    <td>獎盃乙座 獎金12000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第二名</td>
                                    <td>獎盃乙座 獎金9000元</td>
                                </tr>
                                <tr>
                                <th scope="row"></th>
                                    <td></td>
                                    <td>第三名</td>
                                    <td>獎盃乙座 獎金6000元</td>
                                </tr>
                            </tbody>
                        </table>
                        註1：創作組冠軍將獲得創作下屆《流音之星》主題曲的機會 <br>
                        3. 比賽日期：2018/1/5(日) 13:00~17:00 <br>
                        4. 比賽場地：北市大中正堂 <br>
                        比賽序號及相關賽程請詳閱粉專說明。 <br>
                        ⑦ 其餘注意事項： <br>
                        ⑴ 評審有權刪減各階段比賽晉級人數 <br>
                        ⑵ 此活動對象為全國高中職或五專學生，不符規定者將自動刪除比賽相關資料，比賽分數不予採計。 <br>
                        ⑶ 本歌唱大賽之評分人員皆為專職音樂人士，並採用高規格之設備， 具有高公信力及公正性。若評分上有所疑問則以評審意見為主。 <br>
                        ⑷ 本活動係屬正式比賽，請穿著方便整齊之服裝入場，穿著過於暴露、不雅或做出任何政治立場表達、怪異粗俗標語之服飾者，主辦單位有權拒絕之入場，當次比賽成績不予採計。 <br>
                        ⑸ 參賽者演唱期間禁止出入比賽場合、大聲喧嘩或做出任何干擾比賽進行之動作。若違反規定者，主辦單位有權請參賽者或觀眾離開比賽場地，當次比賽成績不予採計。 <br>
                        ⑹ 請密切注意比賽公告，相關訊息以官網最新公告資料為主。比賽三日前將公告所有相關事項，若因參賽者未詳細閱讀報名須知或官網公告而造成權益受損者，主辦單位不予負責。 <br>
                        ⑺ 若比賽期間出現冒用他人身分、偽造證件或違反中華民國明文規定之憲法或相關法規者，通報警方處理，當次比賽成績不予採計。 <br>
                        ⑻ 若遭遇颱風、地震、豪大雨或嚴重天災而必須延期，將另行公告於官網及另行通知參賽者。 <br>
                        ⑼ 評選得以晉級複賽或決賽者，將於比賽後三日內公告於官方網站，並公告相關訊息。 <br>
                        ⑽ 因比賽期間發生重要缺失造成參賽者權益受損，主辦單位將全權負責並退還報名費。審查時以中華民國明文規定之憲法、民法、刑法、行政法及相關規定為主。 <br>
                        ⑾ 參賽者請自行複製活動相關規範及公告內容，以便日後查證之用。 <br>
                        ⑿ 主辦單位保有比賽規則及活動相關規定之釋意權。 <br>
                        ⒀ 若非主辦單位之疏失，伴唱帶一律不予重複播放。 <br>
                        ⒁ 因音響器材所造成之音效問題不影響比賽成績。 <br>
                        ⒂ 禁止破壞現場器材，違者照價賠償。 <br>
                        ⒃ 禁止使用同一首歌報名多組。 <br>
                        ⒄ 每人（組）限報名各組別一次（禁止跨團參賽），若重複報名， 僅採用最後一次報名之資料。 <br>
                    </div>
                </section>
            </article>

            <!-- Footer -->
            <%- include('footer'); %>
        </div>

		<!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
	</body>
</html>