<!DOCTYPE HTML>
<!--
    Arcana by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

    <head>
        <title>比賽簡章</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    </head>

    <body>
        <div id="page-wrapper">

            <%- include('header'); %>

            <!-- Main -->
            <section class="wrapper style1">
                <div class="container">
                    <div id="content">

                        <!-- Content -->

                        <article>
                            <header>
                                <h2>比賽規則</h2>
                                <p>(副標題)</p>
                            </header>

                            <span class="image featured"><img src="images/banner.jpg" alt="" /></span>
                            <p>內容</p>
                        </article>

                    </div>
                </div>
            </section>

            <!-- Footer -->
            <div id="footer">
                <!-- Icons -->
                <ul class="icons">
                    <li><a href="https://www.facebook.com/%E5%BB%BA%E5%9C%8B%E4%B8%AD%E5%AD%B8%E6%B5%81%E8%A1%8C%E9%9F%B3%E6%A8%82%E7%A4%BE21st-1198700360256495/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                </ul>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li><a href="https://www.facebook.com/%E5%BB%BA%E5%9C%8B%E4%B8%AD%E5%AD%B8%E6%B5%81%E8%A1%8C%E9%9F%B3%E6%A8%82%E7%A4%BE21st-1198700360256495/" target="view_window">CKPM</a></li>
                        <li><a href="https://www.facebook.com/tfgpm16/" target="view_window">TFGPM</a></li>
                        <li><a href="https://www.facebook.com/legendary.sspm27th/" target="view_window">SSPM</a></li>
                        <li><a href="https://www.facebook.com/JMPM11th/" target="view_window">JMPM</a></li>
                        <li><a href="https://www.facebook.com/hjpm14th/" target="view_window">HJPM</a></li>
                        <li>Design: <a href="http://infor.org" target="view_window">INFOR</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>

    </body>

</html>
